<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Get global style sheet -->
    <link rel="stylesheet" href="/css/stylesheet.css">
    <!-- Get channel specific style sheet -->
    <link rel="stylesheet" href="css/stylesheet.css"> 
    <title><%= channelName.title %></title>
</head>

<div class="header-container">
    <img id="logo" src="imgs/Logo.png" alt="Logo">
    <h1>Emerging Business Insurance</h1>
    <hr>
</div>